<!doctype html>
<html>
<head>
    <title>Ejercicio 8</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html">Catplay</a>
        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarText"
                aria-controls="navbarText"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <span class="navbar-text">
        Navbar text with an inline element
      </span>
        </div>
    </div>
</nav>
<div class="container mt-2">
    <div class="row">
        <div class="border border-white border-3 col-xxl-3 col-lg-4 col-md-6 col-sm-6" style="background-color:#aaa">
            <h1>Columna 1</h1>
            <p>No todos los gatos domésticos son aptos para ser vestidos, especialmente si las prendas son incómodas.
                El pelo de nuestro gato es uno de los principales indicadores de si nuestra mascota podrá o no soportar las prendas 
                de ropa que le compremos. En este sentido, los gatos de pelo muy largo, como por ejemplo los gatos persas, tienen 
                una capa de pelo muy espesa, por lo que vestirlos con prendas muy gordas podría darles mucho calor.
                Sin embargo, en el extremo opuesto tenemos a los gatos de raza sphynx (también conocidos como gatos egipcios) 
                que tienen una capa de piel más débil y delicada, y su pelo es bastante escaso. En el caso concreto de los gatos 
                de esta raza, sí que podría ser conveniente ponerles una prenda de vestir cuando las temperaturas sean demasiado bajas.
                Antes de tomar la decisión de vestir a nuestro gato, debemos de comprobar si el animal se siente cómodo con su nueva ropa. </p>
        </div>
        <div class="border border-white border-3 col-xxl-3 col-lg-4 col-md-6 col-sm-6" style="background-color:#bbb">
            <h1>Columna 2</h1>
            <p>No todos los gatos domésticos son aptos para ser vestidos, especialmente si las prendas son incómodas.
                El pelo de nuestro gato es uno de los principales indicadores de si nuestra mascota podrá o no soportar las prendas 
                de ropa que le compremos. En este sentido, los gatos de pelo muy largo, como por ejemplo los gatos persas, tienen 
                una capa de pelo muy espesa, por lo que vestirlos con prendas muy gordas podría darles mucho calor.
                Sin embargo, en el extremo opuesto tenemos a los gatos de raza sphynx (también conocidos como gatos egipcios) 
                que tienen una capa de piel más débil y delicada, y su pelo es bastante escaso. En el caso concreto de los gatos 
                de esta raza, sí que podría ser conveniente ponerles una prenda de vestir cuando las temperaturas sean demasiado bajas.
                Antes de tomar la decisión de vestir a nuestro gato, debemos de comprobar si el animal se siente cómodo con su nueva ropa. </p>
        </div>
        <div class="border border-white border-3 col-xxl-3 col-lg-4 col-md-6 col-sm-6" style="background-color:#bbb">
            <h1>Columna 3</h1>
            <p>No todos los gatos domésticos son aptos para ser vestidos, especialmente si las prendas son incómodas.
                El pelo de nuestro gato es uno de los principales indicadores de si nuestra mascota podrá o no soportar las prendas 
                de ropa que le compremos. En este sentido, los gatos de pelo muy largo, como por ejemplo los gatos persas, tienen 
                una capa de pelo muy espesa, por lo que vestirlos con prendas muy gordas podría darles mucho calor.
                Sin embargo, en el extremo opuesto tenemos a los gatos de raza sphynx (también conocidos como gatos egipcios) 
                que tienen una capa de piel más débil y delicada, y su pelo es bastante escaso. En el caso concreto de los gatos 
                de esta raza, sí que podría ser conveniente ponerles una prenda de vestir cuando las temperaturas sean demasiado bajas.
                Antes de tomar la decisión de vestir a nuestro gato, debemos de comprobar si el animal se siente cómodo con su nueva ropa. </p>
        </div>
        <div class="border border-white border-3 col-xxl-3 col-lg-4 col-md-6 col-sm-6" style="background-color:#bbb">
            <h1>Columna 4</h1>
            <p>No todos los gatos domésticos son aptos para ser vestidos, especialmente si las prendas son incómodas.
                El pelo de nuestro gato es uno de los principales indicadores de si nuestra mascota podrá o no soportar las prendas 
                de ropa que le compremos. En este sentido, los gatos de pelo muy largo, como por ejemplo los gatos persas, tienen 
                una capa de pelo muy espesa, por lo que vestirlos con prendas muy gordas podría darles mucho calor.
                Sin embargo, en el extremo opuesto tenemos a los gatos de raza sphynx (también conocidos como gatos egipcios) 
                que tienen una capa de piel más débil y delicada, y su pelo es bastante escaso. En el caso concreto de los gatos 
                de esta raza, sí que podría ser conveniente ponerles una prenda de vestir cuando las temperaturas sean demasiado bajas.
                Antes de tomar la decisión de vestir a nuestro gato, debemos de comprobar si el animal se siente cómodo con su nueva ropa. </p>
        </div>
    </div>
</div>
<footer class="mt-auto">
    <div class="container-fluid bg-dark">
        <div class="row">
            <p class="text-white">copyright</p>
        </div>
    </div>
</footer>
</body>
</html>
