<!DOCTYPE html>
<html>
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</header>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img src="../img/catplay.png" height="40"></a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ejercicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Showcase</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="">Consigna</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container-fluid">
    <div class="row bg-warning">
        <div class="col-*">Encabezado</div>
    </div>
    <div class="row bg-success">
        <div class="col-lg-12">COL</div>
    </div>
    <div class="row mb-2 mt-2">
        <div class="col"><img class="img-thumbnail" src="../img/11a.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11b.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11c.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11d.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11e.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11f.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11g.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11h.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11i.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11j.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11k.jpg" alt=""></div>
        <div class="col"><img class="img-thumbnail" src="../img/11l.jpg" alt=""></div>
    </div>
    <!-- FILA WRAPPER -->
    <div class="row mt-2">
        <!-- LISTA DE ELEMENTOS -->
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                   href="#list-home" role="tab" aria-controls="list-home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                   href="#list-profile" role="tab" aria-controls="list-profile">Profile</a>
            </div>
        </div>
        <!-- WRAPPER TAB CONTENT -->
        <div class="tab-content" id="nav-tabContent">
            <!-- PRIMER ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <div class="col-8">
                    TEXTO PRUEBA
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary">
                        HOLA TEXTO
                    </div>
                </div>
            </div>
            <!-- PRIMER ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div class="col-8">
                    TEXTO PRUEBA 2
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>@twitter</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary">
                        HOLA TEXTO 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="mt-auto">
    <div class="container-fluid bg-dark">
        <div class="row text-center">
            <p class="text-white">Copyright</p>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>
