<!DOCTYPE html>
<html lang="UTF-8">
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</header>

<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="../../index.html"><img src="../img/catplay.png" height="40"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../../index.html">Inicio</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Ejercicios
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="Ejercicio1.html">Ejercicio 1</a></li>
                          <li><a class="dropdown-item" href="Ejercicio2.html">Ejercicio 2</a></li>
                          <li><a class="dropdown-item" href="Ejercicio3.html">Ejercicio 3</a></li>
                          <li><a class="dropdown-item" href="Ejercicio4.html">Ejercicio 4</a></li>
                          <li><a class="dropdown-item" href="Ejercicio5.html">Ejercicio 5</a></li>
                          <li><a class="dropdown-item" href="Ejercicio6.html">Ejercicio 6</a></li>
                          <li><a class="dropdown-item" href="Ejercicio7.html">Ejercicio 7</a></li>
                          <li><a class="dropdown-item" href="Ejercicio8.html">Ejercicio 8</a></li>
                          <li><a class="dropdown-item" href="Ejercicio9.html">Ejercicio 9</a></li>
                          <li><a class="dropdown-item" href="Ejercicio10.html">Ejercicio 10</a></li>
                        </ul>
                      </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Showcase</a>
                </li>
                <li>
                    <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="">Consigna</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-* text-center p-3 bg-opacity-100"><h2 class="p-2">Para qué crearlo y si lo encontrás en</h2><img
                src="../img/catplaydark.png" class="w-25">
        </div>
    </div>
    <div class="row" style="background-image:url(../img/fondo3.jpg);">
        <div class="col-lg-12"><h1>Lo mejor en moda gatuna...</h1></div>
        <div class="col offset-lg-10"><h2>...para todo el año</h2></div>
    </div>
    <div class="row mb-2 mt-2">
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11a.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11b.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11c.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11d.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11e.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11f.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11g.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11h.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11i.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11j.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11k.jpg" alt=""></div>
        <div class="col-xl-1 col-lg-1 col-md-2"><img class="img-thumbnail" src="../img/11l.jpg" alt=""></div>
    </div>
    <!-- FILA WRAPPER -->
    <div class="row mt-2 mb-2">
        <!-- LISTA DE ELEMENTOS -->
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="lista-gato1" data-bs-toggle="list"
                   href="#elem-1" role="tab" aria-controls="list-elem-1">Gatito 1</a>
                <a class="list-group-item list-group-item-action" id="lista-gato2" data-bs-toggle="list"
                   href="#elem-2" role="tab" aria-controls="list-elem-2">Gatito 2</a>
                <a class="list-group-item list-group-item-action" id="lista-gato3" data-bs-toggle="list"
                   href="#elem-3" role="tab" aria-controls="list-elem-2">Gatito 3</a>
                <a class="list-group-item list-group-item-action" id="lista-gato4" data-bs-toggle="list"
                   href="#elem-4" role="tab" aria-controls="list-elem-2">Gatito 4</a>
                <a class="list-group-item list-group-item-action" id="lista-gato5" data-bs-toggle="list"
                   href="#elem-5" role="tab" aria-controls="list-elem-2">Gatito 5</a>
                <a class="list-group-item list-group-item-action" id="lista-gato6" data-bs-toggle="list"
                   href="#elem-6" role="tab" aria-controls="list-elem-2">Gatito 6</a>
                <a class="list-group-item list-group-item-action" id="lista-gato7" data-bs-toggle="list"
                   href="#elem-7" role="tab" aria-controls="list-elem-2">Gatito 7</a>
                <a class="list-group-item list-group-item-action" id="lista-gato8" data-bs-toggle="list"
                   href="#elem-8" role="tab" aria-controls="list-elem-2">Gatito 8</a>
                <a class="list-group-item list-group-item-action" id="lista-gato9" data-bs-toggle="list"
                   href="#elem-9" role="tab" aria-controls="list-elem-2">Gatito 9</a>
                <a class="list-group-item list-group-item-action" id="lista-gato10" data-bs-toggle="list"
                   href="#elem-10" role="tab" aria-controls="list-elem-2">Gatito 10</a>
                <a class="list-group-item list-group-item-action" id="lista-gato11" data-bs-toggle="list"
                   href="#elem-11" role="tab" aria-controls="list-elem-2">Gatito 11</a>
                <a class="list-group-item list-group-item-action" id="lista-gato12" data-bs-toggle="list"
                   href="#elem-12" role="tab" aria-controls="list-elem-2">Gatito 12</a>
            </div>
        </div>
        <!-- WRAPPER TAB CONTENT -->
        <div class="tab-content" id="nav-tabContent">
            <!-- PRIMER ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade show active" id="elem-1" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- SEGUNDO ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-2" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- TERCER ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-3" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- CUARTO ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-4" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- QUINTO ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-5" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- SEXTO ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-6" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- SEPTIMO ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-7" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- OCTAVO ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-8" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- NOVENO ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-9" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- DECIMO ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-10" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- 11 ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-11" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
            <!-- 12 ELEMENTO -->
            <!-- IMG -->
            <div class="tab-pane fade " id="elem-12" role="tabpanel" aria-labelledby="list-home-list">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <img src="../img/Cosplay A2.jpg" class="w-25 mb-2" style="margin-top: -80px;">
                    </div>
                </div>
                <!-- SECOND ROW (TABLA + TEXTO) -->
                <div class="row">
                    <div class="col-sm-8 bg-secondary">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Talla</th>
                                <th scope="col">Material</th>
                                <th scope="col">Precio</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">S</th>
                                <td>Algodon</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <th scope="row">M</th>
                                <td>Algodon</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <th scope="row">L</th>
                                <td>Algodon</td>
                                <td>1000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-4 bg-primary p-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec accumsan enim, vel
                            placerat dolor. In eu tortor neque. Nulla facilisi. Cras aliquam sodales ipsum in tristique.
                            In
                            lobortis velit fringilla fermentum rutrum. Integer congue egestas odio sed porttitor. Fusce
                            commodo condimentum libero et lobortis. Nunc eget nibh lorem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="mt-auto bg-danger bg-gradient">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="https://github.com/Lucia-Landaeta" class="nav-link px-2 text-white">Lucia
            Landaeta</a></li>
        <li class="nav-item"><a href="https://github.com/matirinfante" class="nav-link px-2 text-white">Matias
            Infante</a></li>
    </ul>
    <p class="text-center text-white-50">© 2022 Catplay - Grupo Rojo PWA</p>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>
