<!DOCTYPE html>
<html>
<header>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</header>

<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Catplay</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            <span class="navbar-text">
                    Navbar text with an inline element
                </span>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row bg-warning">
        <div class="col-*">Encabezado</div>
    </div>
    <div class="row bg-success">
        <div class="col-lg-12">COL</div>
    </div>
    <div class="row bg-info">
        <div class="col">IMG</div>
        <div class="col">IMG</div>
        <div class="col">IMG</div>
        <div class="col">IMG</div>
        <div class="col">IMG</div>
        <div class="col">IMG</div>
        <div class="col">IMG</div>
        <div class="col">IMG</div>
        <div class="col">IMG</div>
        <div class="col">IMG</div>
        <div class="col">IMG</div>
        <div class="col">IMG</div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"
                 aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="collapse"
                        data-bs-target=".multi1" type="button" role="tab"
                        aria-controls="n1 hola1"
                        aria-selected="true">Img 1
                </button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="collapse"
                        data-bs-target=".multi2" type="button" role="tab"
                        aria-controls="n2 hola2" aria-selected="false">Img 2
                </button>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-content" id="tab2">
                <div class="collapse multi1 show active" id="n1" role="tabpanel"
                     aria-labelledby="n1">1
                </div>
                <div class="collapse multi2" id="n2" role="tabpanel"
                     aria-labelledby="n2">2
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 bg-secondary">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4 bg-primary">
            <div class="tab-content" id="tab">
                <div class="collapse fade multi1 show active" id="hola1" role="tabpanel"
                     aria-labelledby="hola1">1
                </div>
                <div class="collapse fade multi2" id="hola2" role="tabpanel"
                     aria-labelledby="hola2">2
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="mt-auto">
    <div class="container-fluid bg-dark">
        <div class="row text-center">
            <p class="text-white">Copyright</p>
        </div>
    </div>
</footer>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
